<div class="comentario2">

    <% @catcomments.each do |comment| %>
    <p>
    <div class="nombre"><%= comment.catuser.name %></div>
    <div  class="texto-comentario"><%= comment.content %></div>
    </p>
    <% end %>
</div>