<div id="<%= dom_id catcomment %>">
  <p>
    <strong>Content:</strong>
    <%= catcomment.content %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= catcomment.article_id %>
  </p>

  <p>
    <strong>Catuser:</strong>
    <%= catcomment.catuser_id %>
  </p>

</div>
