<h1>Editing catcomment</h1>

<%= render "form", catcomment: @catcomment %>

<br>

<div>
  <%= link_to "Show this catcomment", @catcomment %> |
  <%= link_to "Back to catcomments", catcomments_path %>
</div>
